/* 웹 기본 배경 */
.App {
  background-color: rgb(234, 238, 236);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 30px;
}

/* 타이틀 */
.title {
  color: rgb(82, 115, 148);
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 0 15px 0;
}
/* 부제목 */
.description {
  color: rgb(108, 167, 174);
  font-size: 1rem;
  margin-top: 8px;
}

/* 날씨 정보 표시 */
.weather-info {
  margin-top: 20px;
  text-align: center;
  color: rgb(82, 115, 148);
}
.weather-details {
    display: flex;
    justify-content: center;
    gap: 20px;
}
.weather-details p {
    margin: 0;
    font-size: 1.1rem;
}

/* 우산 번호 버튼 */
.umbrella-buttons {
  display: grid;
  grid-template-columns: repeat(5, 60px);
  grid-gap: 10px;
  margin-top: 20px;
  padding: 10px;
  border: 2px solid rgb(82, 115, 148);
  border-radius: 15px;
  background-color: rgb(234, 238, 236);

}
.umbrella-button {
  padding: 15px;
  font-size: 1.2rem;
  color: rgb(108, 167, 174);
  border: 2px solid rgb(108, 167, 174);
  border-radius: 50%;
  background-color: transparent;
  cursor: pointer;
}
.umbrella-button.selected {
  border-color: red;
  color: red;
}
.umbrella-button:hover {
  border-color: red;
  color: red;
}
.button-group {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

/* 대여, 반납 버튼 */
.borrow-button, .return-button{
  padding: 10px 20px;
  font-size: 1rem;
  background-color: rgb(108, 167, 174);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
}
.borrow-button:hover, .return-button:hover{
  background-color: rgb(72, 105, 138);
}

/* 모바일용 사용방법 버튼 스타일 */
.instruction-button-mobile {
  display: block;
  margin: 20px auto; /* 중앙 정렬 */
  padding: 10px 20px;
  font-size: 1rem;
  background-color: rgb(108, 167, 174);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.instruction-button-mobile:hover {
  background-color: rgb(72, 105, 138);
}

/* 프로필 버튼 */
.profile-button {
  position: absolute;
  top: 20px;
  left: 20px;
  width: 50px;
  height: 50px;
  background-image: url('/public/iconimage.png'); /* public 폴더 기준 경로 */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 50%; /* 원형으로 만들기 */
  overflow: hidden; /* 원 밖의 내용 숨기기 */
  cursor: pointer;
}
.profile-button:hover {
  opacity: 0.8; /* 호버 시 약간 투명 효과 */
}