.App {
  background-color: rgb(234, 238, 236);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  text-align: center;
  padding: 30px;
}

.title {
  color: rgb(82, 115, 148);
  font-size: 1.8rem;
  font-weight: bold;
  margin: 0 0 15px 0;
}

.description {
  color: rgb(108, 167, 174);
  font-size: 1rem;
  margin-top: 8px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}